@model WebBookReViewDSM.Models.Club_lecViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Club_lecViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mensualidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mensualidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.paginaActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paginaActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lectura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lectura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombrelibro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombrelibro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.clubID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
