@model IEnumerable<WebBookReViewDSM.Models.Club_lecViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mensualidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paginaActual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lectura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombrelibro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mensualidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paginaActual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lectura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombrelibro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.clubID }) |
            @Html.ActionLink("Details", "Details", new { id = item.clubID }) |
            @Html.ActionLink("Delete", "Delete", new {  id= item.clubID })
        </td>
    </tr>
}

</table>
