@model IEnumerable<WebBookReViewDSM.Models.AutorViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.numlibros)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fotoautor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numlibros)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fotoautor)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.autorID }) |
            @Html.ActionLink("Details", "Details", new { id = item.autorID }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.autorID })
        </td>
    </tr>
}

</table>
