@model IEnumerable<WebBookReViewDSM.Models.ComentarioViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contenido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paginasLeidas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lectura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentadorname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lecturatitulo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contenido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paginasLeidas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lectura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentadorname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lecturatitulo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.comentario }) |
            @Html.ActionLink("Details", "Details", new { id = item.comentario }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.comentario })
        </td>
    </tr>
}

</table>
