@model IEnumerable<WebBookReViewDSM.Models.LibroViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.autor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paginas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creador)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.creanombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.compras)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.autor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paginas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creador)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.creanombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.compras)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.libroID }) |
            @Html.ActionLink("Details", "Details", new { id = item.libroID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.libroID })
        </td>
    </tr>
}

</table>
