@model WebBookReViewDSM.Models.UsuarioViewModel
@using Microsoft.AspNet.Identity
@using BookReViewGenNHibernate.EN.BookReview;


@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@{
    int idUsu = 0;
    string email = "";
    double dineroventa = 0;
    string foto = "";

    if (Session["Usuario"] != null)
    {


        idUsu = ((UsuarioEN)Session["Usuario"]).UsuarioID;
        email = ((UsuarioEN)Session["Usuario"]).Mail;
        dineroventa = ((UsuarioEN)Session["Usuario"]).Dineroventa;
        foto = ((UsuarioEN)Session["Usuario"]).Fotoperfil;
        

    }

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Datos - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/one-page-wonder.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/material-kit.css")
</head>

<body class="profile-page sidebar-collapse">

    <div class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom fixed-top">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">@Html.ActionLink("Inicio", "Home", "Libro", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Detalles", "Details_User", new { id = idUsu })</li>
                </ul>
            </div>
        </div>
    </div>

               
    <div class="profile">
        <div class="avatar">
            <img src="@foto" alt="Circle Image" class="img-raised rounded-circle img-fluid">
        </div>
        <div class="name">
            <h2>@idUsu</h2>

            <hr><br />
            <h3> Información personal</h3>
            <h6>Email: @email</h6>
            <h6>Saldo: @dineroventa</h6>
            <h6>Contraseña: @Html.DisplayFor(model => model.password)</h6>



            <hr><br />
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
