@model IEnumerable<WebBookReViewDSM.Models.UsuarioViewModel>

@{
    ViewBag.Title = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuario</h2>

<p>
    @Html.ActionLink("+ Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mail)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {  id=item.usuarioID}) |
            @Html.ActionLink("Detalles", "Details", new { id = item.usuarioID }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.usuarioID })
        </td>
    </tr>
}

</table>
